*.pyc
*~
ehthumbs.db
Thumbs.db
build
freeze
resources/cache/*
helpers/qtresources.py
views/qtlauncher.py
releases/
!releases/.gitkeep
!resources/cache/.gitkeep
!releases/*.zip
C/shared/*.so
C/shared/*.dll
C/objects/*.o
C/test*