!.gitkeep
*.pyc
*~
*.log
*.cache
.idea/*
ehthumbs.db
Thumbs.db
build
freeze
resources/cache/*
helpers/qtresources.py
views/qtlauncher.py
views/qtabout.py
releases/
!releases/.gitkeep
!resources/cache/.gitkeep
!releases/*.zip
resources/library/*
resources/*.py
resources/*.pyc
C/shared/*
C/objects/*
C/test*
