<?xml version="1.0" encoding="UTF-8"?>
<config>
    <path>
        <base template="true">{BASEPATH}/</base>

        <resources template="true">{BASEPATH}/resources/</resources>

        <sourcedir>src/</sourcedir>

        <audio>audio/</audio>

        <library>library/</library>

        <cache>cache/</cache>

        <static>static/</static>

        <qtui>qt/</qtui>

        <log>logs/</log>

    </path>

    <game>
        <version>1.1</version>

        <speed type="int">0</speed>

        <window>
            <size type="tuple(int)">(1024, 768)</size>
        </window>

        <install>
            <path>/usr/share/pygameoflife</path>
        </install>

        <volume>
            <fx type="int">1</fx>
            <music type="int">1</music>
        </volume>

        <delay>
            <max type="int">200</max>
            <min type="int">0</min>
        </delay>

        <display>
            <iconsize type="tuple(int)">(64, 64)</iconsize>
            <title>Pygame of Life</title>
        </display>

        <habitat>
            <filename>habitat.png</filename>
            <size></size>
        </habitat>

        <population>
            <percentage type="float">0.0</percentage>
        </population>

        <cell>
            <settedCellKeepAlive>6</settedCellKeepAlive>
            <filename>cell.png</filename>
            <size type="tuple(int)">(16, 16)</size>
        </cell>
    </game>

    <logger>
        <info>info.log</info>
        <debug>debug.log</debug>
        <error>error.log</error>
    </logger>

    <setup>
        <resolution>
            <small type="tuple(int)">(400, 288)</small>
            <medium type="tuple(int)">(800, 592)</medium>
            <large type="tuple(int)">(1024, 768)</large>
        </resolution>

        <speed>
            <slow type="int">50</slow>
            <medium type="int">30</medium>
            <fast type="int">10</fast>
        </speed>
    </setup>

</config>